.grid{
    display: grid;
    grid-template-areas: "1 2";
    grid-template-columns: 50% 50%;
}
div>p{
    font-size: 25px;
    margin: auto; 
}
#repas .grid{
    grid-template-areas: "1 2"
    "3 4"
    "5 6";
}
.espace{
    height: 25px;
}
ul>li{
    list-style: none;
    font-size: 30px;
}
.bouton{
    left: 45%;
    font-size: 1150%;
    top:75%;
}
header>p{
    font-size: 55px;
}